Flask==2.1.2
Flask_Admin==1.6.0
Flask_SQLAlchemy==2.5.1
Flask_WTF==1.0.1
keras==2.9.0
matplotlib==3.5.2
nibabel==3.2.2
numpy==1.22.4
pytest==7.1.2
scikit_learn==1.1.1
SQLAlchemy==1.4.37
tensorflow==2.9.1
Werkzeug==2.1.2
WTForms==3.0.1
email_validator
