<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"> -->
  <nav class="navbar navbar-expand-sm bg-light justify-content-center">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Other Pages
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/viewTests">Test Model</a></li>
              <li><a class="dropdown-item" href="/test">Upload New Test</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/list">View Scans</a></li>
              <li><a class="dropdown-item" href="/upload">Upload New Scan</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/viewPatients">View Registered Patients</a></li>
              <li><a class="dropdown-item" href="/registerPatient">Register New Patient</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/viewDoctors">View Registered Doctors</a></li>
              <li><a class="dropdown-item" href="/registerDoctor">Register New Doctor</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/login">Login</a></li>
              <li><a class="dropdown-item" href="/logout">Logout</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/register">Register User</a></li>
              <li><a class="dropdown-item" href="/admin">Admin Page</a></li>
            </ul>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li> -->
        </ul>
        <form action="/logout" class="d-flex">
          <button class="btn btn-outline-success" type="submit">Logout</button>
        </form>
      </div>
    </div>
  </nav>